<% @comments.each do |c| %>
    <div class="card p-2 mt-1 ">
        <% if c.user.avatar.attached? %>
                <%= link_to image_tag(c.user.avatar, class: "small-user-pic"), user_path(c.user_id) %>
        <% end %>
        <div class="border mt-1 p-2 bg-light">
         <%= c.body %>
         <!-- IF you are the owner of the post then u can delete -->
         <% if current_user.id == c.post.user_id && c.user_id != current_user.id %>
            <%= link_to 'delete', post_comment_path(c.post_id, c.id ), method: :delete, data: {confirm: "Are you sure?"}%>

        <% elsif c.user_id == current_user.id %>
            <%= link_to 'delete', post_comment_path(c.post_id, c.id ), method: :delete, data: {confirm: "Are you sure?"}, class: "text-muted"%> |
            <%= link_to 'edit', edit_post_comment_path(c.post_id, c.id), class:"text-muted" %> 

        <% end %>
        </div>
    </div>
<% end %>