<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <%= image_tag(@user.avatar) if @user.avatar.attached?%>
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @user.username.capitalize %></h2>
        <% if current_user.id == @user.id %>
        <a class="edit-profile" href="<%=edit_user_path(current_user.id) %>">
            <button> Edit </button>
        </a>
        <% end %>
      </div>
      <ul class="posts">
        <li><span><%= @posts.count %></span> <%= @posts.count > 1 ? "posts" : "post" %></li>
        <li><span><%= @user.followers.length %></span> followers</li>
        <li><span><%= @user.following.length %></span> following</li>
      </ul>
      <h2 class="name"><%= @user.name.capitalize if !@user.username.blank? %></h2>
      <a class="website"> <%=link_to @user.website, "http://#{@user.website}", target: "_blank" if !@user.username.blank?%>
      <p>
      <!-- This is to check whatever to display the following button or not -->
      <!-- YOu will display unfollow if the user's id is already in our following array -->
      <!-- YOu will display follow only if current_user.id != @user.id -->
      <% if current_user.following.include?(@user.id) && current_user.id != @user.id %>
          <%= link_to "Unfollow", unfollow_path(id: @user.id ), class: 'btn btn-danger mt-1'%>
      <% elsif  current_user.id != @user.id %>
          <%= link_to "Follow", followings_path(id: @user.id), class: 'btn btn-primary mt-1' %>
      <% end %>
    </p>
    </div>
  </div>
</div>



<div class="user-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    POSTS
  </a>
  <a class="tab" href="">
    <i class="fa fa-tv"></i>
    IGTV
  </a>
  <a class="tab" href="">
    <i class="fa fa-bookmark"></i>
    SAVED
  </a>
  <a class="tab" href="">
    <i class="fa fa-tag"></i>
    TAGGED
  </a>
</div>


<div class="user-images">
    <% @posts.each do |post| %>
        <% if post.image.attached?%>
        <section class="wrapper card ">
            <%= image_tag post.image, class:"img"%>
            <div class="p-1">
              <%= post.description %>                
            </div>
            <% if post.user.id == current_user.id %>
              <%= link_to "Delete", post_path(id: post.id), method: :delete, data:{confirm: "Are you Sure?"}, class: "btn"%>       
            <% end %>
        </section>
        <% end %>
    <% end %>
</div>
<div class="digg_pagination">

   <div class="d-flex m-4"><%= will_paginate @posts, :container => false %></div> 
  </div>