<div class="row p-2">
    <div class="col-md-6">
        <% if @post.image.attached?%>
        <section class="post">
            <div class="user">
                <%= link_to image_tag(@post.image, class: "current-post"), user_path( @post.user_id) %>
                <div class="row mt-2">
                    <div class="col-md-2 border-right">
                            <%= link_to image_tag(@post.user.avatar, class:"thumbnail", style:"width:50px; height 50px;"), user_path(@post.user_id) if @post.user.avatar.attached? %> 
                    </div>
                    <div class="col-md-10 mt-1">
                            <%= link_to @post.user.username, user_path(@post.user_id), class: "h2 text-dark" %>
                    </div>
                </div>
            </div>
            <div class="description">
                <%= @post.description %>
            </div>
        </section>
        <% end %>
    </div>
    <div class="col-md-6">
        <div class="comment-box">
            <%= render 'comments/comments'%>
        </div>
        <% if signed_in? %>
            <%= render 'comments/form'%>
        <% end %>
    </div>
</div>