<div class="row p-2">
    <div class="col-md-6">
        <% if @post.image.attached?%>
        <section class="post">
        <div class="user">
            <%= link_to image_tag(@post.image, class: "current-post"), user_path( @post.user_id) %>

        </div>
        <div class="description">
            <%= @post.description %>
        </div>
        </section>
        <% end %>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-2 border-right">
                    <%= link_to image_tag(current_user.avatar, class:"rounded-circle", style:"width:50px; height 50px;"), user_path(@post.user_id) if current_user.avatar.attached? %> 
            </div>
            <div class="col-md-10 mt-1">
                    <%= link_to @post.user.username, user_path(@post.user_id), class: "h2 text-dark" %>
            </div>
        </div>
        <%= render 'comments/comments'%>
        <%= render 'comments/form'%>
    </div>
</div>